#imagem_musica img{
    width: 150px;
    height: auto;
}


#play{
    /*background-image: url("play_music.png");*/
}

#objeto_musica{
    width: 100%;
    height: auto;
}

li{
    list-style-type: none;
}


.musica{
    display: flex;
}

#media_body{
    padding-left: 12px;
}

#media_buttons{
    margin-left: 0px;
}


#media_play{
    width: 50px;
}

#butao_play{
    background: url("../menu_icons/play_music.svg") no-repeat top;
    width: 100px;
    height: 100px;
    margin-top: 20px;
}


.media_button{
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

#butoes_menu{
    padding-top: 10px;
    padding-right: 10px;
}

.butao_opcoes{
    background-color: white;
    color: black;
    border: 1.5px solid #A0A0A0;
    border-radius: 4px;
    font-size: 11px;
}

.butao_opcoes:hover{
    border: 1.5px solid #f44336;
}

.butao_opcoes:focus{
    outline: none;
}

.butao_opcoes:active{
    border: 1.5px solid #f44336;
}

#musica_tempo{
    margin-left: 200px;
    margin-top: 25px;
}



#ano_de,
#ano_a
{
    margin-top: 15px;
    background: none;
    display: flex;
}

#ano_de select,
#ano_a select
{
    margin-left: 20px;
    width: 80px;
}

#menu_musicas{
    padding-left: 10px;

}

#menu_opcoes{
    margin-left: 50px;
    width: 300px;
}

#menu_opcoes button{
    color: black;
    background: none;
    border: none;
    padding: 8px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    width: 70%; /* Set a width if needed */
    display: block; /* Make the buttons appear below each other */
    text-align: left;
    margin-right: 0px;
    font-size: 16px;
}



.cool-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #DF2E28;
    transition: width .2s;
}

.cool-link:hover::after {
    width: 70%;
    transition: width .1s;
}

#menu_opcoes button:active,
#menu_opcoes button:focus{
    color: white;
    background-color: #DF2E28;
    outline: none;
    width: 70%;
}

#menu_opcoes button>img{
    height: 15px;
    width: 15px;
    margin-right: 7px;
}

#artista_imagem img{
    height: 150px;
    width: auto;
    border-radius: 50%;
}

#artista{
    display: flex;
}
#artista_body{
     margin-left: 20px;
}

#artista_body button{
    width: 30px;
    height: 30px;
    background: url("../menu_icons/heart_black.svg") no-repeat center;
    padding: 3px;
    cursor: pointer;
    border-radius: 50px;
    border: none;
}

#artista_body button:active,
#artista_body button:focus{
    background: #DF2E28 url("../menu_icons/heart_white.svg") no-repeat center;
    outline: none;
    border: none;
}

#artista_body button:hover{
    background: #DF2E28 url("../menu_icons/broken_heart.svg") no-repeat center;
    outline: none;
    border: none;
}

#lista{
    margin-left: 30px;
}
#lista li{
    margin-top: 50px;
}

#artista a{
    color: inherit;
    text-decoration: inherit;
}



.tooltiptext {
    margin-left: 5px;
    visibility: hidden;
    width: 70px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

#imagem_favoritos:hover .tooltiptext {
    visibility: visible;
}



#album_body{
    margin-left: 20px;
}

#album_body h3{
    margin-top: 0px;
}

#album_body a{
    color: inherit;
    text-decoration: inherit;
}

#imagem_album img{
    width: 150px;
    height: auto;
}


#album{
    display: flex;
}
