#tabelaMusicas{
    color: white;
}

#download{
    color: #DF2E28;
    alignment: center;
    size: 82px;
}

#item-compra tr:hover{
    color: black;
}
.textPassword{
    font-weight: bold;
    color:white;
}
.conteudo-perfil{
    color:white;
}
#botaoDownloadAll{
    float:right;
}
.fundo{
    color:#A9A9A9;
}
.class{
    size:1200pxx x 34 ;
}